@import url("/frontend/css/root.css");

body,
html {
  background-color: var(--grey-color);
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#table-container {
  width: 70%;
  max-height: 70vh;
  overflow-y: scroll;
  border: 1px solid black;
}

#dash-table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
}

#dash-table th,
#dash-table td {
  text-align: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid var(--dark-grey-color);
  width: auto;
}

#dash-table th {
  background-color: var(--purple-color);
  color: white;
}

#dash-table tbody tr:hover {
  background-color: var(--purple-color);
  color: white;
}

.form-container,
#table-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--purple-color);
  width: 70%;
  border-radius: 5px;
}

#search-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

input,
button,
select {
  margin: 1rem;
}

#username {
  min-width: 50%;
}

#home {
  color: white;
}

#pages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: var(--purple-color);
  width: 70%;
  border-radius: 5px;
}

#pages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0.5rem;
  color: white;
}

#pages li {
  padding-left: 1rem;
  padding-right: 1rem;
}

#pages li:not(:last-child) {
  border-right: 1px solid white;
}

#pages-container,
#table-container,
.form-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  #dash-table td:nth-child(1),
  #dash-table th:nth-child(1) {
    display: none;
  }

  #dash-table th,
  #dash-table td {
    padding: 0;
  }
  #table-container,
  .form-container {
    width: 95%;
  }

  input,
  button,
  select {
    margin: 0.15rem;
  }
}

@media (max-width: 460px) {
  #search-form {
    flex-direction: column;
  }
  input,
  button,
  select {
    margin-right: 0;
    margin-left: 0;
  }

  button,
  select,
  #pages-container {
    width: 99%;
  }
}
