@import url('/frontend/css/root.css');

#annot-content {
    width: 100%;
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--light-grey-color);
    border-radius: 5px;
}

.comment {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.comment:not(:last-child) {
    border-bottom: solid 1px black;
}

.selected {
    background-color: var(--light-red-color);
    color: white;
}

.dark-mode {
    #annot-content {
        background-color: var(--dark-grey-color);
    }
}

#del {
    display: none;
}

#image-description {
    margin-top: 1rem;
}

.delannotation {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    height: 100%;
    border-left: solid 1px black;
}

.username {
    font-style: italic;
    font-weight: var(--big-font-weight);
}