@import url('/frontend/css/root.css');

#annot-content {
    width: 100%;
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--light-grey-color);
    border-radius: 5px;
}

.comment:not(:first-child) {
    padding-top: 0.5rem;
}

p:not(#image-description) {
    border-bottom: solid 1px black;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: solid 1px black;
}

.selected {
    background-color: var(--light-red-color);
    color: white;
}

.dark-mode {
    #annot-content {
        background-color: var(--dark-grey-color);
    }
}

#del {
    display: none;
}

#image-description {
    margin-top: 1rem;
}

#delannotation {
    padding: 0.5rem;
}