html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 20px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    background-color: grey;
    padding: 10px;
    margin: 50px;
}

#container img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

figcaption {
    margin: 0px;
    padding: 0px;
}

#cptr {}